/*box {
    margin: 30px;
}*/

label {
    margin: 10px;
}

window {
    background-color: #084c8d;

    /* Background image settings */
    background-image: url('TriMet Stripes.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% 100%;
}

menubutton button image {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    padding: 4;
}

label.short_sign {
    margin: 10px;
    font-size: larger;
}

label.arrival_time {
    margin: 10px;
    font-size: medium;
}

combobox {
    margin: 10px;
}

box.individual_arrival_box {
    background-color: transparent;
    margin: 10px;
    border-radius: 10px;
}

label.arrival_time {
    margin: 10px;
    font-size: medium;
    color: #ffd700;
}

label.load_percent {
    margin: 5px;
    font-size: small;
    color: #b0c4de;
}

image.corner_logo {
    margin-right: 0px;
    margin-bottom: 0px;
}

box {
    background-color: transparent;
}
