/*box {
    margin: 30px;
}*/

label {
    margin: 10px;
}

window {
    background-color: #084c8d;

    /* Background image settings */
    background-image: url('TriMet Stripes.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% 100%;
}

box.top_bar {

}

label.arrivals_header {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    color: white;
}

label.short_sign {
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

combobox {
    margin: 10px;
}

box.individual_arrival_box {
    background-color: transparent;
    margin: 10px;
    border-radius: 10px;
}



label.arrival_time {
    margin: 0px;
    font-size: 25px;
    color: white;
}


label.scheduled_time_OT {
    margin: 0px;
    font-size: 20px;
    color: green;
    font-weight: bold;
}

label.scheduled_time {
    margin: 0px;
    font-size: 17px;
}

label.load_percent {
    margin: 0;
    font-size: 17px;
    color: white;
}

button.main_select_button {
    background-color: transparent;
    background-image: none;
    border: none;
    box-shadow: none;
    outline: none;
}

button.main_select_button image {
    color: white;
    -gtk-icon-transform: scale(1.4);
}

label.refresh_marker {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
}

image.corner_logo {
    margin-right: 0px;
    margin-bottom: 0px;
}
